body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

h4 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

p {
  margin-bottom: 10px;
  text-align: center;
}

img {
  display: inline-block;
  max-width: 100%;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: 700;
  text-align: left;
}

.mc_embed_signup_scroll {
  display: block;
  margin-top: 20px;
}

.div-max {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.image {
  width: 100%;
  margin-top: -260px;
  margin-bottom: 0px;
}

.div-content {
  position: relative;
  display: inline-block;
  width: 94%;
  margin-top: -60px;
  padding: 40px 90px 90px;
  border-bottom: 1px none #cfe2e7;
  border-radius: 10px 10px 0px 0px;
  background-color: #fff;
  box-shadow: 1px 1px 50px 0 rgba(0, 0, 0, .19);
  text-align: center;
}

.div-content.full {
  width: 100%;
  margin-top: 0px;
  padding-top: 80px;
  padding-bottom: 80px;
  border-top: 1px solid #cfe2e7;
  border-bottom-style: solid;
  border-radius: 0px;
  background-color: #e7f4fd;
  box-shadow: none;
}

.text-main {
  margin-bottom: 20px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #0185ab;
  font-size: 26px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
}

.text {
  text-align: center;
}

.button {
  margin-top: 30px;
  padding: 10px 15px 8px 40px;
  border-radius: 3px;
  background-color: #df2726;
  background-image: url('../images/icon-pdf-white.png');
  background-position: 9px 50%;
  background-size: auto 60%;
  background-repeat: no-repeat;
  box-shadow: 0 2px 0 0 #a11;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
}

.button.submit {
  padding-left: 15px;
  background-image: none;
  background-position: 0px 0px;
  background-size: auto;
  background-repeat: repeat;
}

.button.like {
  background-image: url('../images/like-white.png');
  background-position: 11px 47%;
  background-size: auto 55%;
}

.div-center {
  position: relative;
  left: 0px;
  right: 0px;
  display: block;
  width: 56%;
  margin-right: auto;
  margin-bottom: 40px;
  margin-left: auto;
  padding-top: 30px;
  border-top: 1px solid #ebebeb;
  text-align: center;
}

.div-center.top {
  padding-top: 40px;
  border-top: 1px none #000;
}

.thanks-div {
  padding-top: 80px;
  padding-bottom: 80px;
  font-size: 24px;
  line-height: 24px;
}

.facebook {
  height: 40px;
  margin-top: 20px;
}

.titre-label {
  color: #0185ab;
}

.check-box {
  margin-top: 25px;
}

.number {
  display: inline-block;
  width: 45px;
  height: 45px;
  margin-bottom: 10px;
  padding-top: 11px;
  padding-left: 0px;
  border-radius: 100px;
  background-color: #dceffc;
  color: #0185ab;
  text-align: center;
}

.container {
  padding-bottom: 0px;
}

.footer {
  height: 50px;
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: right;
}

.made-by {
  margin-top: 15px;
  float: right;
  opacity: 0.6;
  font-size: 13px;
}

.made-by.left {
  float: left;
}

.link {
  float: right;
}

.message {
  margin-top: 10px;
  color: #b60f0f;
}

.link-download {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 153, 255, .74);
  opacity: 0;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  text-align: center;
  text-decoration: none;
}

.link-download:hover {
  opacity: 1;
}

.link-download.orange:hover {
  background-color: rgba(255, 119, 0, .74);
}

.link-download.rouge:hover {
  background-color: rgba(255, 19, 19, .6);
}

.div-block-download {
  position: relative;
  overflow: hidden;
  max-height: 140px;
  border: 1px solid #ff8922;
  border-radius: 6px;
}

.link-title {
  position: absolute;
  left: 0px;
  top: 50%;
  right: 0px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  -webkit-transform: translate(0px, -50%);
  -ms-transform: translate(0px, -50%);
  transform: translate(0px, -50%);
  color: #fff;
  font-size: 21px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.image-pdf {
  margin-bottom: 10px;
}

.titre-concours {
  display: inline-block;
  margin-bottom: 20px;
  padding-right: 0px;
  padding-left: 0px;
  font-family: 'Varela Round', sans-serif;
  color: #7686c4;
  font-size: 36px;
  line-height: 42px;
  font-weight: 600;
  letter-spacing: -1px;
}

.titre-concours.form {
  margin-bottom: 40px;
  font-size: 26px;
  line-height: 28px;
  text-align: center;
}

.titre-concours.form.full {
  width: 100%;
  margin-top: 0px;
}

.titre-concours.form.smaller-text {
  color: grey;
  font-size: 18px;
  line-height: 23px;
}

.titre-concours.small {
  margin-top: 10px;
  margin-bottom: 0px;
  padding-right: 40px;
  padding-bottom: 0px;
  padding-left: 0px;
  float: none;
  font-size: 18px;
  line-height: 25px;
  font-weight: 100;
  text-align: left;
  letter-spacing: 0px;
  text-transform: none;
}

.text-field {
  height: 60px;
  padding-top: 23px;
  padding-bottom: 23px;
  padding-left: 19px;
  border: 1px solid #80c0d1;
  border-radius: 3px;
  font-size: 20px;
}

.form-textarea {
  display: block;
  overflow: hidden;
  width: 400px;
  min-height: 400px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.rich-text {
  font-family: 'Varela Round', sans-serif;
  text-align: center;
}

.small {
  position: relative;
  top: -8px;
  display: inline-block;
  font-size: 24px;
}

.logo-chcolaterie {
  margin-top: 40px;
}

.orange {
  color: #ff8922;
}

.orange.bolder {
  color: #424242;
  font-size: 26px;
  line-height: 23px;
  font-weight: 600;
}

.form-wrapper {
  display: block;
  width: 550px;
  margin-right: auto;
  margin-left: auto;
  font-size: 18px;
}

.submit-button {
  margin-top: 40px;
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 4px;
  background-color: #7686c4;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  font-size: 16px;
}

.submit-button:hover {
  background-color: #ff8922;
}

.row {
  padding-top: 20px;
}

.success {
  background-color: transparent;
  color: #0185ab;
  font-size: 24px;
  line-height: 28px;
}

.paragraph {
  text-align: center;
}

.div-text-small {
  margin-top: 0px;
  margin-bottom: 40px;
  font-family: 'Varela Round', sans-serif;
}

.heading {
  margin-bottom: 4px;
  font-size: 24px;
  font-weight: 900;
}

.concours {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.row-image {
  margin-top: 60px;
}

.angled-concours {
  position: absolute;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  height: 30px;
  margin-top: 70px;
  margin-left: -30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #58434c;
  -webkit-transform: rotate(-35deg) scale(1.2);
  -ms-transform: rotate(-35deg) scale(1.2);
  transform: rotate(-35deg) scale(1.2);
  font-family: 'Varela Round', sans-serif;
  color: #fff;
}

.div-hero {
  overflow: hidden;
  max-height: 500px;
}

.div-block {
  margin-bottom: 20px;
}

@media (max-width: 991px) {
  .titre-concours.form.smaller-text {
    font-size: 18px;
    font-weight: 400;
  }
}

@media (max-width: 767px) {
  h4 {
    text-align: center;
  }
  p {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
  }
  .div-block-download {
    margin-bottom: 40px;
  }
  .titre-concours.small {
    padding-right: 0px;
    text-align: center;
  }
}

@media (max-width: 479px) {
  body {
    text-align: center;
  }
  h4 {
    text-align: center;
  }
  .div-content {
    padding-right: 19px;
    padding-left: 19px;
  }
  .titre-concours {
    padding-right: 0px;
    padding-left: 0px;
    font-size: 36px;
  }
  .titre-concours.form {
    font-size: 30px;
  }
  .titre-concours.small {
    padding-right: 0px;
    text-align: center;
  }
  .orange {
    font-size: 29px;
  }
  .form-wrapper {
    width: 260px;
  }
}

